#container{
  position: absolute;
  top: 50%;
  left: 50%;
}

h1{
  font-weight: 600;
  font-size: 4rem;
}

#btn{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background: #00ffff;
}
